.content{
    margin: -720px 15px 0 320px;
}

.img_left{
    float: left;
    margin: 15px 15px 15px 0;
}

.img_right{
    float: right;
    margin: 15px 0 15px 15px;
}
.buttonUp{
    position: fixed;
    bottom: 5%;
    left: 50%;
    margin-left: -550px;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: rgba(109, 109, 109, 0.83);
    border-radius: 50%;
    background: rgba(148, 148, 148, 0.66);
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}

.buttonUp:hover{
    background: rgba(116, 116, 116, 0.66);
    color: rgb(94, 94, 94);
}

